

.blue-button {
  background: $primary-color;
  color: white;
  padding: 1rem 2rem;
  cursor: pointer;
  &:hover {
    color: $primary-color;
    background: white;
    border: 1px solid $primary-color;
    text-decoration: none;
  }
}

.green-button.square {
  border-radius: 0;
}

.dropdown-custom-style {
  padding: 0.5rem;
  border: 1px solid $primary-color!important;
  cursor: pointer;
  display: flex!important;
  align-items: center;

  .admin-pic-dropdown {
    width: 40px;
    margin-right: 7px;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}