.form-container {
  padding: 1rem;
  width: 96%!important;
}

.form-custom {
  padding: 2rem 0;

  .col-3, .col-12, .col-6 {
    padding: 0;
  }
}


.register-container, .login-container {
  padding: 1rem;
  transition: all 0.3s;
  min-height: 68vh;

  h1 {
    text-align: center;
  }

  .form-custom {
    padding: 1rem 0;
  }
}

.password-field {
  input {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
}