html,body {
  font-size: 16px;
  box-sizing: border-box;
  line-height: 1.2;
}

p {
  margin: 0;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

.footer-container {
  height:20vh;
  background: $primary-color;
  color: white;
  padding: 1rem;
}

#homepage {
  height: 30vh;
  background-size: cover!important;
}

.homepage-container {
  background: rgba(255,255,255,0.6);
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cascading-title {
  span {
    margin-bottom: 1rem;
    opacity: 0;
    transition-delay: 0.2s;
    transition: all 0.5s ease-in;
  }
}

.cascading-title.in-view {
  span {
    margin-top: 0;
    opacity: 1;
  }
}













.homepage-landing {
  height: 80vh;
}

.massage-amma {
  padding: 1rem;
  letter-spacing: 2px;
  margin-bottom: 12rem;

  h1 {
    text-transform: uppercase;
  }

  p {
    padding: 1.5rem 0;
    font-size: 1.1rem;
  }

  a {
    margin: 0.5rem 0;
    text-transform: uppercase;
  }
}

.infos {
  background: $primary-color;
  font-size: 1.5rem;
  padding: 2rem;
  color: white;

  .fa {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
  }
}

.info {
  p {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tel {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 300px;
  top: 1rem;
  right: 0;
  border-radius: 7px 0 0 7px;
  padding: 1.5rem;
  color: white;
  font-size: 1.5rem;
  background: $primary-color;

  a {
    font-size: 2rem;
    color: white;
    text-decoration: underline;
  }
}

.offers {
  background: #eee;

  > p {
    text-align: center;
    text-transform: uppercase;
    padding: 3rem;
    background: #eee;
  }
}

.service {
  padding: 0.5rem;
  background: white;

  .fa {
    display: block;
    text-align: center;
    font-size: 2rem;
  }

  h6 {
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
  }

  p {
    text-align: justify;
  }

  a {
    display: block;
    text-align: center;
  }
}

.admin-header {
  height: 7vh;
  text-align: right;
  background: #eee;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
}

.admin-content {
  padding: 3rem;
}

.breadcrumb {
  background: white!important;
}
.breadcrumb-item {
  a {
    &:hover {
      text-decoration: none;
    }
  }
  &:before {
    content: '>'!important;
  }
  &:first-child {
    &:before {
      content: '' !important;
    }
  }
}

.admin-main-content {
  width: 96%;
}

.admin-pic-dropdown {
  width: 40px;

  img {
    width: 100%;
  }
}

.service {
  margin: 1rem;

  p {
    padding: 1rem;
  }


  &:first-child {
    margin-left: 2rem;
  }

  &:last-child {
    margin-right: 1rem;
  }
}