// index

.js-scrollTo {
  display: none;
}

 #projects {
   padding: 1rem 0;
   h3 {
     padding: 1rem 0;
     text-align: center;
   }
 }

.projects-container {
  text-align: center;
}

.other-projects {
  background: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;

  a {
    color: white;
    background: $secondary-color;
    text-align: center;
    width: 70%;
    padding: 1rem 2rem;
    text-transform: uppercase;
    &:hover {
      color: $secondary-color;

      text-decoration: none;
      background: darken(white, 5%);
    }
  }
}

.project-index-container {
  padding: 1rem;
}

.project {
  padding: 1rem;

  .project-logo {
    overflow: hidden;
    img {
      max-width: 300px;
      width: 100%;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.1) rotate(20deg);

      }
    }
  }

  .project-menu {
    background: $primary-color;
    color: white;

    h5 {
      padding: 1rem;
      margin: 0;
    }

    a {
      display: block;
      color: white;
      background: $secondary-color;
      padding: 1rem;

      &:hover {
        color: $secondary-color;
        background: white;
        border: 1px solid $primary-color;
        text-decoration: none;
      }
    }
  }
}

//show

.project-title {
  padding: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  background: lighten($third-color, 65%)
}

.project-show-container {
  background: lighten($third-color, 65%);

  p {
    padding: 1rem;
    text-align: justify;
  }

  .project-images {
    width: 90%;
    margin: auto;

    .owl-stage {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .owl-nav {
      display: flex;
      justify-content: center;

      .owl-prev, .owl-next {
        margin: 0.5rem;
        font-size: 2rem;
      }
    }
  }
}

.project-logo-tech {
  width: 95%;
  margin: auto;

  .blue-button {
    display: block;
    text-align: center;
    width: 96%;
    margin: auto;
  }

  .project-logo {
    img {
      width: 100%;
    }
  }
}