// index

.js-scrollTo {
  display: none;
}

 #projects {
   padding: 1rem 0;
   h3 {
     padding: 1rem 0;
     text-align: center;
   }
 }

.projects-contain {
  background: rgba(255,255,255,0.4);
  min-height: 68vh;
}

.other-projects {
  background: $primary-color;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1rem;

  a {
    color: white;
    background: $secondary-color;
    text-align: center;
    width: 70%;
    padding: 1rem 2rem;
    text-transform: uppercase;
    &:hover {
      color: $secondary-color;

      text-decoration: none;
      background: darken(white, 5%);
    }
  }
}

.project-homepage-container {
  padding: 1rem;


  .project-logo {
    overflow: hidden;
    img {
      max-width: 300px;
      width: 100%;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.3) rotate(20deg);

      }
    }
  }

}

.front-project-container {

  .project {

    .project-logo {
      overflow: hidden;
      img {
        width: 100%;

        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.3) rotate(20deg);

        }
      }
    }
  }
}

.project.in-view {
  margin-top: 0;
  opacity: 1;
}

.project {
  padding: 1rem;
  text-align: center;
  margin-top: 3rem;
  opacity: 0;
  transition: all 0.5s;
  transition-delay: 0.2s;


  .project-menu {
    background: $primary-color;
    color: white;

    h5 {
      padding: 1rem;
      margin: 0;
    }

    a {
      display: block;
      color: white;
      background: $secondary-color;
      padding: 1rem;

      &:hover {
        color: $secondary-color;
        background: white;
        text-decoration: none;
      }
    }
  }
}

//show

.project-title {
  padding: 1rem;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  background: lighten($third-color, 27%)
}

.project-show-container {
  background: lighten($third-color, 27%);

  p {
    padding: 1rem;
    text-align: justify;
  }

  .project-images {
    width: 90%;
    margin: auto;

    .owl-stage {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .owl-nav {
      display: flex;
      justify-content: center;

      .owl-prev, .owl-next {
        margin: 0.5rem;
        font-size: 2rem;
      }
    }
  }
}

.project-content {
  font-size: 1.1rem;
}

.project-logo-tech {
  width: 95%;
  margin: auto;
  font-size: 1rem;

  .blue-button {
    display: block;
    text-align: center;
    width: 100%;
  }

  .project-logo {
    img {
      width: 100%;
    }
  }
}

.project-tech {
  text-align: center;

  h3 {
    padding: 1rem;
  }
}

.tech {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;

  .tag {
    padding: 1rem 1.5rem;
    background: $primary-color;
    color: white;
    border-radius: 40px;
    margin: 0.5rem

  }
}